$primary-bg-color: #0c0c0c;
$secondary-bg-color: #2a2a2a;
$hover-color: #eb5939;
$color: #5c564c;


h1 {
    margin-top:0 ;
}

.about {
    font-size: xx-large;
    font-weight: 700;
}

.about-left {
    // width: 30%;
   
}

.number-font {
        font-weight: 900;
        font-size: xxx-large;
        margin: 0;
}

.header-font {
    font-size: xx-large;

}

mat-card  {
    img {
        width: 100%;
        height: 100%;
    }
}

.passion-icon {
    width: 100px !important;
    height: 100px !important;
}

.skills-container {
    img {
        width: 60px;
        height: 60px;
    }
}

.slider {
    width: 80%
}

.p-w {
    width: 70px;
}


mat-slider > input {
    background-color: $hover-color;
}



// Media Queries

@media only screen and (max-width: 750px) {
    .cards  {
        flex-wrap: wrap;
        mat-card {
            width: 100%;
            z-index: -100;
        }
    }
    
}

@media only screen and (max-width: 550px) { 
    .about {
        font-size: large;
        font-weight: 500;
    }

}