<div id="projects" class="main-container full-width flex column">
    <div class="">
        <div class="flex center-center">
            <p class="title width-70">Previous Work</p>
        </div>
        <div class="projects" *ngFor="let project of projects">
            <hr class="no-m">
            <div class="middle"></div>
            <div class="project flex center-center hover">
                <a class="width-70 "  [href]="project.link" target="_blank">

                    <div class="flex column">
                        <h2 class="no-m">{{project.year}}</h2>
                        <div>
                            <h2>{{project.name}}</h2>
                            <p>{{project.descriprion}}</p>
                        </div>
                    </div>
                </a>

            </div>
            <hr class="no-margin-top">
        </div>
        <div class="cursor"></div>
    </div>
</div>